body {
  background-color: ghostwhite;
  margin-top: 55px;
}

section {
  min-height: 500px;
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
}

hr {
  width: 200px;
  border-top: 3px #30349C solid;
  margin-bottom: 50px; 
}

.jumbotron {
  background-image: url(./images/bg-jumbotron.jpg);
  min-height: 350px;
}

.explore img {
  width: 100px;
  height: 100px;
}

.tourism .card {
  margin-bottom: 50px;
}

.about img {
  width: 150px;
  height: 150px;
  border: 2px #30349C solid;
  margin: 20px 0px;
}

.contact .form {
  margin-bottom: 50px;
}

.contact button {
  width: 100%;
}

footer {
  margin-top: 100px;
}

footer .row {
  height: 100px;
}